@model PetrolPumpERP.Models.DataModels.ProductResponse
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/Product")
<div data-ng-controller="ProductController" data-ng-app="PetroliumApp">
    <input type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ProductList)" id="productlist" />
    <input type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ProductTypeList)" id="ProductTypeList" />
    <input type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.UOMList)" id="UOMList" />
    <h2>Vendor</h2>
    <div class="table-responsive" data-ng-show="Details==true">
        <div class="col-md-12">
            <div class="col-md-8 divsearch">
                <input type="text" placeholder="Search" class="form-control" data-ng-model="Prefix" data-ng-change="FilterList()" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" data-ng-click="FilterList()">Search</button>
                <button class="btn btn-primary" data-ng-click="AddNewUI()">New</button>
                <button class="btn btn-primary" data-ng-click="Reset()">Reset</button>
            </div>
            <hr />
        </div>

        <table class="table">
            <tr>
                <th>
                    Product Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Product Type
                </th>
                <th>
                    UOM
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            <tr data-ng-repeat="product in SearchProductList">
                <td>
                    {{product.ProductId}}
                </td>
                <td>
                    {{product.ProductName}}
                </td>
                <td>
                    {{product.ProductDescription}}
                </td>
                <td>
                    {{product.Price}}
                </td>
                <td>
                    {{product.ProductType}}
                </td>
                <td>
                    {{product.UOM}}
                </td>
                <td>
                    <span class="glyphicon glyphicon-pencil" data-ng-click="EditClick(product)"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        </table>

        <ul class="pagination">
            <li data-ng-click="First()"><a href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
            <li data-ng-click="Prev()"><a href="#"><span class="glyphicon glyphicon-backward"></span></a></li>
            <li data-ng-click="Next()"><a href="#"><span class="glyphicon glyphicon-forward"></span></a></li>
            <li data-ng-click="Last()"><a href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        </ul>
    </div>

    <div data-ng-show="Add==true || Edit==true">
        <ng-form role="form" name="frmReg" novalidate>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <select id="ProductType" class="form-control">
                                <option value="0">--Product Type--</option>
                                <option data-ng-repeat="producttype in ProductTypeList" value="{{producttype.ProductTypeId}}">{{producttype.ProductType}}</option>
                            </select>
                        </div>
                        <div class="col-md-12" data-ng-show="ErrorModel.IsProductType==true">
                            <span>{{ErrorMessage}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <input type="text" id="ProductName" placeholder="Product Name*" maxlength="30" minlength="2"
                                   class="form-control setMargin" />
                        </div>
                        <div class="col-md-12" data-ng-show="ErrorModel.IsProductName==true">
                            <span>{{ErrorMessage}}</span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <select id="UOM" class="form-control">
                                <option value="0">--Unit of Measurment--</option>
                                <option data-ng-repeat="uom in UOMList" value="{{uom.UnitCode}}">{{uom.UnitDesc}}</option>
                            </select>
                        </div>
                        <div class="col-md-12" data-ng-show="ErrorModel.IsUOM==true">
                            <span>{{ErrorMessage}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <select id="SUBUOM" class="form-control">
                                <option value="0">--Sub Unit of Measurment--</option>
                                <option data-ng-repeat="uom in UOMList" value="{{uom.UnitCode}}">{{uom.UnitDesc}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <input type="text" id="Price" placeholder="Price" 
                                   class="form-control setMargin" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <input type="text" id="ProductDescription" placeholder="Product Description" maxlength="25" minlength="2"
                                   class="form-control setMargin" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <hr />

            <div class="col-md-3">
                <button class="btn btn-primary" data-ng-click="Save(true)" data-ng-show="Add==true">Save</button>
                <button class="btn btn-primary" data-ng-click="Save(false)" data-ng-show="Edit==true">Update</button>
                <button class="btn btn-primary" data-ng-click="CancelClick()">Cancel</button>
            </div>
        </ng-form>
    </div>
</div>
